@page "/articledetails/{Id?}"
@using Startapp.Client.Pages.Articles.Components
@inherits ArticleDetailsBase
<!-- Section: Product detail -->

<main class="m-0">

    <section id="productDetails" class="pb-5">
        <!-- News card -->
        <div class="card hoverable">
            <a class="btn-floating btn-sm aqua-gradient" href="javascript:history.back()"><i class="fas fa-arrow-left teal-text"></i></a>

            <div class="row">

                <div class="col-md-5">
                    <!-- Carousel Wrapper -->
                    <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel">

                        <!-- Slides -->
                        <div class="carousel-inner text-center text-md-left" role="listbox">

                            @foreach (var pic in Pics)
                            {
                <div class="carousel-item @pic.Active">
                    <img src="@pic.MSource" alt="First slide" class="img-fluid" />
                </div>}

                        </div>
                        <!-- Slides -->
                        <!-- Thumbnails -->
                        <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>

                        <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                        <!-- Thumbnails -->

                    </div>
                    <!-- Carousel Wrapper -->

                </div>

                <div class="col-md-7 text-center text-md-left">

                    <h2 class="h2-responsive text-center text-md-left product-name font-weight-bold dark-grey-text mb-1 ml-xl-0 ml-4">

                        <strong>@Article.Title</strong>
                    </h2>
                    <span class="badge badge-danger product mb-4 ml-xl-0 ml-4">bestseller</span>

                    <h3 class="h3-responsive text-center text-md-left mb-5 ml-xl-0 ml-4">

                        <span class="red-text font-weight-bold">
                            <strong>$ @string.Format("{0:# ### ###.00}", Article.SellingPrice)</strong>
                        </span>
                        <span class="grey-text">
                            <small>
                                @if (Article.OldPrice > 0)
                                {
                    <s>$ @string.Format("{0:# ### ###.00}", Article.OldPrice)</s>}
                            </small>
                        </span>

                    </h3>

                    <!-- Accordion wrapper -->
                    <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingOne1">
                                <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                                   aria-controls="collapseOne1">
                                    <h5 class="mb-0">
                                        @Translate.Keys["Description"]
                                        <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                                 data-parent="#accordionEx">
                                <div class="card-body">
                                    @Article.Description
                                </div>
                            </div>

                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingTwo2">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                                   aria-expanded="false" aria-controls="collapseTwo2">
                                    <h5 class="mb-0">
                                        @Translate.Keys["Price"] Details
                                        <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
                                 data-parent="#accordionEx">
                                <div class="card-body">
                                    @Article.Detail
                                </div>
                            </div>

                        </div>
                        <!-- Accordion card -->
                        <!-- Accordion card -->
                        <div class="card">

                            <!-- Card header -->
                            <div class="card-header" role="tab" id="headingThree3">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                                   aria-expanded="false" aria-controls="collapseThree3">
                                    <h5 class="mb-0">
                                        @Translate.Keys["Shipping"]
                                        <i class="fas fa-angle-down rotate-icon"></i>
                                    </h5>
                                </a>
                            </div>

                            <!-- Card body -->
                            <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
                                 data-parent="#accordionEx">
                                <div class="card-body">

                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3
                                    wolf moon officia aute,

                                    non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                    moon

                                    tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.

                                </div>

                            </div>

                        </div>
                        <!-- Accordion card -->

                    </div>
                    <!-- Accordion wrapper -->
                    <!-- Add to Cart -->
                    <section class="color">

                        <div class="mt-5">
                            <p class="grey-text">Choose your color</p>
                            <div class="row text-center text-md-left">
                                <div class="col-md-4 col-12 ">
                                    <!-- Radio group -->
                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio100" checked="checked">
                                        <label for="radio100" class="form-check-label dark-grey-text">Blue</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <!-- Radio group -->
                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio101">
                                        <label for="radio101" class="form-check-label dark-grey-text">Orange</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <!-- Radio group -->
                                    <div class="form-group">
                                        <input class="form-check-input" name="group100" type="radio" id="radio102">
                                        <label for="radio102" class="form-check-label dark-grey-text">Red</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-3 mb-4">
                                <div class="col-md-12 text-center text-md-left text-md-right">
                                    <button onclick="addToCart(@Article.Id)" class="btn btn-primary btn-rounded">
                                        <i class="fas fa-cart-plus mr-2" aria-hidden="true"></i> @Translate.Keys["AddToCart"]
                                    </button>
                                </div>
                            </div>
                        </div>

                    </section>
                    <!-- Add to Cart -->

                </div>

            </div>

            <ArticlePictures Pics="Pics" DeleteEventCallback="DeletePicture"></ArticlePictures>

            <a class="btn-floating btn-sm aqua-gradient" href="javascript:history.back()"><i class="fas fa-arrow-left white-text"></i></a>

        </div>



    </section>
    <!-- Section: Product detail -->

    <!-- Article Reviews -->
    <ArticleReviews></ArticleReviews>

    <!-- Related Categories  -->

    @if (Article.Category != null)
    {
<ReletedCategory Id="@Article.Category.Id.ToString()"></ReletedCategory>}


    <!-- Related -->

    @if (Article.AppUser != null)
    {
<Related userId="@Article.AppUser.Id"></Related>}



</main>