@page "/ClientInfos"
@inherits ClientInfosBase
@implements IDisposable

<main class="m-0">
    <div class="row mb-4">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
                <!-- Accordion card -->
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="false"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                @Translate.Keys["ClientInfos"] <i class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseOne1" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body mx-1">
                            <div class="alert alert-info" role="alert">
                                <h4 class="alert-heading">Payment</h4>
                                <p> To accomplish payment with ''Paypal platform'' you are invited to fill some personal infos like your shipping address... </p>
                                <hr>
                                <p class="mb-0">Or if you don't want to share any infos with paypal, go back to your shopping cart and uncheck that box ''Send details to PayPal''.</p>
                            </div>
                            <div class="row text-center">
                                <h5 class="pink-text text-center">@Translate.Keys["AllsFieldsRequired"]</h5>
                            </div>

                            <EditForm EditContext="@ClientInfoContext" OnValidSubmit="@UpdateClient">
                                <Blazored.FluentValidation.FluentValidationValidator />
                                <div class="form-row p-0">
                                    <div class="col-md-6 m-0 mb-4 form-group p-1 card text-secondary">
                                        <div class="mb-3">
                                            <label for="FirstName"> @Translate.Keys["FirstName"]</label>
                                            <InputText id="FirstName" type="text" @bind-Value="@ClientInfo.FirstName" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.FirstName)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="LastName"> @Translate.Keys["LastName"]</label>
                                            <InputText id="LastName" type="text" @bind-Value="@ClientInfo.LastName" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.LastName)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="PostalCode"> @Translate.Keys["PostalCode"]</label>
                                            <InputText id="PostalCode" type="text" @bind-Value="@ClientInfo.PostalCode" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.PostalCode)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="CountryCode"> @Translate.Keys["CountryCode"] ex: <strong class="pink-text">"US"</strong> </label>
                                            <InputText id="CountryCode" type="text" @bind-Value="@ClientInfo.CountryCode" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.CountryCode)" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 m-0 mb-4 form-group p-1 card text-secondary">
                                        <div class="mb-3">
                                            <label for="AddressLine1"> @Translate.Keys["ResidencyAddress"]</label>
                                            <InputText id="AddressLine1" type="text" @bind-Value="@ClientInfo.AddressLine1" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.AddressLine1)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="AddressLine2"> @Translate.Keys["DeliveryAddress"]</label>
                                            <InputText id="AddressLine2" type="text" @bind-Value="@ClientInfo.AddressLine2" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.AddressLine2)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="AdminArea1"> @Translate.Keys["State"]</label>
                                            <InputText id="AdminArea1" type="text" @bind-Value="@ClientInfo.AdminArea1" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.AdminArea1)" />
                                        </div>
                                        <div class="mb-3">
                                            <label for="AdminArea2"> @Translate.Keys["State2"]</label>
                                            <InputText id="AdminArea2" type="text" @bind-Value="@ClientInfo.AdminArea2" class="form-control" />
                                            <ValidationMessage For="@(() => ClientInfo.AdminArea2)" />
                                        </div>

                                    </div>
                                </div>


                                <ValidationSummary style="display:none" />
                                <div class="d-flex">
                                    <div class="mr-auto">
                                    </div>
                                    <div class="">
                                        @if (!IsBusy)
                                        {
                                            <button type="submit" disabled="@(!FormValid)" class="btn blue-gradient btn-block btn-rounded z-depth-1a">@Translate.Keys["Save"]</button>
                                        }
                                        else
                                        {
                                            <button type="submit" disabled="@(!FormValid)" class="disabled btn blue-gradient btn-block btn-rounded z-depth-1a"><span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>@Translate.Keys["Saving"]</button>
                                        }
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    </div>

                </div>


            </div>



        </div>
        <div class="col-md-2"></div>
    </div>
</main>





